<!-- <div class="itemCard">
    <div class="itemCardHeader">
        <a class="itemCardTitle">a</a>
    </div>
    <div class="itemCardSholder">
        <a class="itemCardContent">a</a>
    </div>
    <div class="itemCardBody">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, molestiae cupiditate! Fugit ab qui
            officiis repellendus pariatur. Voluptatum minima optio ipsum in earum repellat tempore assumenda atque
            quaerat nisi. Aspernatur.
        </p>
    </div>
</div> -->

<!-- <div class="itemCard" class="item" *ngIf="task" (dblclick)="edit.emit(task)">
    <div class="">
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
    </div>
    <div class="itemCardSholder">
        <a class="itemCardContent"></a>
    </div>
    <div class="itemCardBody">
        <p>{{ task.description }}</p>
    </div>
</div> -->

<!-- <mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)">
    <h2>{{ task.title }}</h2>
</mat-card> -->