   .navBar {
       display: flex;
       /* background-color: var(--deepBlue); */
       background-color: var(--main);
       height: 7vh;
       width: 100%;
       bottom: 0;
       justify-content: space-evenly;
       overflow: hidden;
       border-radius: 25px 25px 0px 0px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px inset, rgb(51, 51, 51) 0px 0px 0px 3px inset;
   }


   @media only screen and (min-width: 700px) {
       .navBar {
           position: relative;
           border-radius: 0px 0px 0px 0px;
       }
   }

   @media only screen and (min-width: var(--screenS)) {
       .navBar {
           /* position: fixed; */
           width: 5vw;
           height: 100vh;
           left: 0;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
   }

   .navBarButton {
       color: var(--seaSick);
       font-size: 24px;
       display: flex;
       align-items: center;
       width: 20%;
       overflow: hidden;
       justify-content: center;
   }

   @media only screen and (min-width: var(--screenM)) {
       .navBarButton {
           width: 100%;
           height: 20%;
       }
   }

   .hClick:focus {
       color: var(--yellow);
   }

   .bar1,
   .bar2,
   .bar3 {
       width: 35px;
       height: 5px;
       background-color: #ffffff;
       margin: 6px 0;
       transition: 0.4s;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1.5px;
   }

   .change .bar1 {
       transform: translate(0, 11px) rotate(-45deg);
       background-color: var(--yellow);
   }

   .change .bar2 {
       opacity: 0;
   }

   .change .bar3 {
       background-color: var(--yellow);
       transform: translate(0, -11px) rotate(45deg);
   }

   .navBarExpenableContainer {
       position: fixed;
       background-color: var(--main);
       width: 100vw;
       /* min-height: 40vh; */
       max-height: 80vh;
       height: 0vh;

       top: 0;
       z-index: 3;
       overflow: hidden;
       overflow-y: hidden;

       display: grid;
       grid-template-columns: 20% 20% 20% 20% 20%;

       transition: 0.5s, width 0s;
   }

   .navBarExpenableContainerChange {
       height: 80vh;

   }

   @media only screen and (min-width: 700px) {
       .navBarExpenableContainer {
           bottom: 0;
           top: auto;
       }
   }

   @media only screen and (min-width: 1000px) {
       .navBarExpenableContainer {
           bottom: auto;
           top: 0;
       }
   }