<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<nav class="navBar">
    <button (click)="self(navButton)" class="navBarButton hClick " routerLink="/{{nav.dir.toString()}}"
        *ngFor="let nav of navbarGidContainer" #navButton>
        <span class="material-symbols-outlined ">
            {{nav.iconName}}
        </span>
    </button>
    <button class="navBarButton hClick " (click)="expanNavbar(navBarExpenableContainer)"
        (click)="myFunction(hamburgerIconDiv)" #hamburgerIconDiv>
        <div>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </button>
</nav>
<div class="navBarExpenableContainer" #navBarExpenableContainer>
    <button *ngFor="let nav of navBarExpenableContainerArray" class="hClick flexList "  (click)="self(navButton)"  routerLink="/{{nav.dir.toString()}}">
        <div class="navBarButton  " #navButton>
            <span class="material-symbols-outlined ">
                {{nav.iconName}}
            </span>
        </div>
        <a class="itemCardKeyValue" [style]="'color:var(--seaSick)'">
            {{nav.iconName}}
        </a>
    </button>
</div>