:root {
  --blue: #389cff;
  /* --red: rgb(255, 61, 61); */
  --red: #da2c38;
  --yellow: #fcff4b;
  --green: #88b25b;
  --white: #ffffff;
  --lightBlue: #8da9c4;
  --lightGray: #cccccc;


  --seaSick: #e9e8e2;


  --main: #2c7fdd;
  --sub: #619fe5;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.itemCard {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 15px;
  margin: 5%;
  overflow: hidden;
}

.itemCardTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.itemCardControlBar {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5%;
}

.itemCardImagePanel {
  width: 100%;
  overflow: hidden;
}

.itemCardImageContainer {
  display: grid;
  grid-template-columns: 31% 69%;
  align-items: center;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  /* font-size: 100px; */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.itemCardKeytValue {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  justify-content: space-around;
  padding: 1%;
}

.itemCardGrid {
  display: grid;
  grid-template-columns: 69% 31%;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}

.flexAround {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  justify-content: space-between;
}

.itemImageButton {
  border-radius: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px !important;
}

@media only screen and (min-width: 700px) {
  .itemImageButton {
    font-size: 12px !important;
  }
}

/* CSS button */
.itemImageButton {
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  border-radius: 8px;
  padding: 5%;
  margin: 5%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.itemImageButton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.itemImageButton:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.itemImageButton:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

/* 
* {
  background-color: rgba(255, 0, 0, 0.1);
}

* * {
  background-color: rgba(0, 255, 0, 0.1);
}

* * * {
  background-color: rgba(0, 0, 255, 0.1);
}

* * * * {
  background-color: rgba(255, 0, 255, 0.1);
}

* * * * * {
  background-color: rgba(0, 255, 255, 0.1);
}

* * * * * * {
  background-color: rgba(255, 255, 0, 0.1);
}

* * * * * * * {
  background-color: rgba(255, 0, 0, 0.1);
}

* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.1);
}

* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.1);
} */