:root {
  --blue: #389cff;
  --deepBlue: #3f51b5;
  /* --red: rgb(255, 61, 61); */
  --red: #fc4753;
  --yellow: #f7bc4e;
  --green: #88b25b;
  --white: #ffffff;
  --lightBlue: #8da9c4;
  --lightGray: #cccccc;
  --dark:#4d4d4d;

  --seaSick: #e9e8e2;

  /* --main: #2c7fdd; */
  --main: #c83f48;
  --sub: #ffc353;

  --main: #4d4d4d;
  --sub: #bebebe;
  --histarri:var(--yellow);

  --title: 24px;
  --context: 12px;
  --keyValue: 9px;
}

@media only screen and (min-width: 700px) {
  :root {
    --title: 12px;
    --context: 9px;
    --keyvalue: 6px;
  }
}
@media only screen and (min-width: 1000px) {
  :root {
    --title: 24px;
    --context:12px;
    --keyvalue: 9px;
  }
}


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* itemCard */
.itemCard {
  position: relative;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 1vmin;
  margin: 5%;
  overflow: hidden;

  animation-duration: 4s;
}




.itemCardHeader {
  background-color: var(--main);
  color: white;
  padding: 2%;
  color: var(--white);
}

.itemCardControlBar {
  display: flex;
  justify-content: space-evenly;
  margin-right: 5%;
}

.itemCardSholder {
  background-color: var(--sub);
  padding: 2%;
  color: var(--white);
  /* font-size: 0.5rem; */
  font-size: var(--context);
}

.itemCardBody{

}

/* image */
.itemCardImagePanel {
  width: 100%;
  overflow: hidden;
}

.itemCardImageContainer {
  display: grid;
  grid-template-columns: 31% 69%;
  align-items: center;
}

.itemCardImageFrameList {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
  justify-content: space-around;

}

.itemImageFrame {
  height: 120px;
  width: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}



.itemImageFrameImage {
  width: 100%;
}

.imageFramePannel {
  position: absolute;
  top: 0%;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  flex-direction: column;
}
.itemCardImagePosterFrame {
  /* height: 120px; */
  min-height: 120px;
  max-height: 60vh;
  min-width: 120px;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

/* text style */
.keyValue {
  display: grid;
  grid-template-columns: 31% 69%;
  align-content: center;
  justify-content: space-around;
  padding-left: 2%;

  box-shadow: rgb(51, 51, 51) 0px 0.125rem 3px 0px;
  margin-bottom: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemCardTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--title);
}
.itemCardContent {
  font-size: var(--context);
}
.itemCardKeyValue {
  font-size: var(--keyValue);
}



/* file upload */
.fileContext {
  width: 100%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  /* font-size: 100px; */
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.itemCardKeytValue {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  justify-content: space-around;
  padding: 1%;
}

.itemCardGrid {
  display: grid;
  grid-template-columns: 69% 31%;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}

.flexAround {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  justify-content: space-between;
}

.itemImageButton {
  border-radius: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px !important;
  color: var(--dark);
}
@media only screen and (min-width: 700px) {
  .itemImageButton {
    font-size: 12px !important;
  }

  .itemImageFrame {
    height: 60px;
    width: 60px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1000px) {
}

/* CSS button */
.itemImageButton {
  border: 1px solid #222222;
  /* background-color: #ffffff; */
  border-radius: 8px;
  padding: 5%;
  margin: 5%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  
}

.itemImageButton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.itemImageButton:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.itemImageButton:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.hClick {
  all: unset;

}

.hClick:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px inset, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.hClick:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px inset, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: var(--yellow);
}

.hClick:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px inset, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* 
* {
  background-color: rgba(255, 0, 0, 0.1);
}

* * {
  background-color: rgba(0, 255, 0, 0.1);
}

* * * {
  background-color: rgba(0, 0, 255, 0.1);
}

* * * * {
  background-color: rgba(255, 0, 255, 0.1);
}

* * * * * {
  background-color: rgba(0, 255, 255, 0.1);
}

* * * * * * {
  background-color: rgba(255, 255, 0, 0.1);
}

* * * * * * * {
  background-color: rgba(255, 0, 0, 0.1);
}

* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.1);
}

* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.1);
} */