<div class="itemCard">
    <div class="itemCardHeader flexAround">
        <div [style]="'overflow: hidden;'">
            <h3>{{item.name}}</h3>
        </div>
        <div class="itemCardControlBar">
            <button class="material-symbols-outlined itemImageButton" [style]="'background-color:var(--green)'">
                save
            </button>
            <button class="material-symbols-outlined itemImageButton" [style]="'background-color:var(--yellow)'">
                close
            </button>
            <button class="material-symbols-outlined itemImageButton" [style]="'background-color:var(--red)'">
                delete
            </button>
        </div>
    </div>
    <div class="itemCardSholder flexAround">
        <a>{{item.name}}</a>
    </div>
    <div class="itemCardBody">
        <p>{{item.description}}</p>
        <div class="itemCardImageFrameList">
            <div *ngFor="let x of item.imageArray" class="itemImageFrame">
                <img [src]="x" class="itemImageFrameImage">
                <div class="imageFramePannel">
                    <button class="itemImageButton">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                    <button class="itemImageButton">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button class="itemImageButton">
                        <span class="material-symbols-outlined">clear</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="">
            <iframe></iframe>
            <input type="file">
        </div>

        <div>
            <div class="itemCardImagePoster">
                <img src="https://picsum.photos/300/200" class="itemImageFrameImage">
            </div>
            <p>sdasd</p>
        </div>
    </div>
</div>





<div class="itemCard" *ngIf="editmode==true">
    <div class="itemCardHeader">
        <a>{{item$}}</a>
        <div>
            <button class="itemImageButton">
                <span class="material-symbols-outlined">edit</span>
            </button>
        </div>
    </div>
    <div class="itemCardSholder">
        <a>/address</a>
    </div>
    <div class="itemCardBody">
        <div class="itemCardKeytValue">
            <div>
                <p>{{item}}</p>
                <p>id</p>
            </div>
            <input type="text">

            <p>descirption</p>
            <input type="text">

            <p>name</p>
            <input type="text">
        </div>

        <div>
            <input class="fileInput" type="file" (change)="1" #imageArrayInput>
            <div class="itemCardImageFrameList">
                <div class="itemImageFrame">
                    <img class="itemImageFrameImage" src="https://picsum.photos/400/100">
                </div>
                <div class="itemImageFrame">
                    <img class="itemImageFrameImage" src="https://picsum.photos/100/500">
                </div>
            </div>
        </div>
    </div>
</div>